* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#controls {
    position: absolute;
    padding: 10px;
    border: 1px solid #FFF;
    top: 10px;
    left: 10px;
    width: 250px;
    background: rgba(255, 255, 255, 0.15);
}

button {
    padding: 10px 40px;
    margin-bottom: 10px;
    width: 225px;
    font-size: 18px;
}

input, label {
    font-size: 16px;
    color: #FFF;
}