* {
    margin: 0;
}

body {
    background-color: #000000;
}

.fps {
    position: fixed;
    z-index: 10;
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.scroll {
    position: fixed;
    z-index: 10;
    color: white;
    padding-left: 1rem;
    padding-top: 2.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.velocityY {
    position: fixed;
    z-index: 10;
    color: white;
    padding-left: 1rem;
    padding-top: 3.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}