* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mousePos {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.tilePos {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.tileIndex {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.fpsPos {
    position: absolute;
    z-index: 10;
    top: 70px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.startPos {
    position: absolute;
    z-index: 10;
    top: 90px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.endPos {
    position: absolute;
    z-index: 10;
    top: 110px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}