* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/* The top left container to show data like FPS, mouse position, etc... */

.container-measurement {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #000000;
    z-index: 9;
    width: 250px;
    height: 200px;
    background-color: rgba(215, 215, 215, 0.9);
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.container-measurement > p {
    position: absolute;
    z-index: 10;
    left: 10px;
}

.mousePos {
    top: 10px;
}

.tilePos {
    top: 50px;
}

.tileIndex {
    top: 70px;
}

.startPos {
    top: 90px;
}

.endPos {
    top: 110px;
}

.fpsPos {
    top: 150px;
    font-size: 16px;
}

/* Control panel */

.container-control {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #000000;
    z-index: 9;
    width: 250px;
    height: 100vh;
    background-color: rgb(73, 73, 73);
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}