* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.fps {
    position: fixed;
    z-index: 10;
    color: black;
    left: 1rem;
    top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.mapMoving {
    position: fixed;
    z-index: 10;
    color: black;
    left: 1rem;
    top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.zoomIn {
    position: fixed;
    z-index: 10;
    color: black;
    left: 1rem;
    top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.zoomOut {
    position: fixed;
    z-index: 10;
    color: black;   
    left: 1rem;
    top: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}