* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.mouseCoordinates {
    position: fixed;
    z-index: 10;
    color: black;
    left: 1rem;
    top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.cell {
    position: fixed;
    z-index: 10;
    color: black;
    left: 1rem;
    top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.scrollOffSet {
    position: fixed;
    z-index: 10;
    color: black;
    left: 1rem;
    top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}